* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;

}

$primary-color: #78ab78;
$text-color: white;

.slider-container {
    margin: 100px auto;
    padding: 30px;
    max-width: calc(100%/2);
    max-height: calc(100%/2);

    border: 2px $primary-color;
    position: relative;


    .images {
        margin: 20px auto;


        .slider-number {
            position: absolute;
            top: 2px;
            left: 4px;
            padding: 5px 5px;
            background-color: $primary-color;
            color: $text-color;
            font-weight: bold;
            text-transform: capitalize;
            border-radius: 5px;

        }

        img {
            position: absolute;
            max-width: 300px;
            max-height: 300px;
            opacity: 0;
            z-index: 1;
            transition: opacity 1s;

            &.active {
                opacity: 1;
            }

        }
    }

    .slider-controls {
        position: relative;
        top: 185px;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px #78ab78;
        margin: 10px 0 auto;
        padding: 2.5px 5px;

        #next,
        #prev {
            border-radius: 50%;
            padding: 10px;
            color: $text-color;
            cursor: pointer;
            border: 2px solid gray;
            background: $primary-color;
            text-align: center;
            color: $text-color;

            // width: 20px;
            &.disable {
                cursor: not-allowed;
                background-color: #78ab;
            }

        }

        #indicators {
            border-radius: 5px;
            padding: 10px;
            color: $text-color;
            border: 2px solid gray;
            display: flex;
            flex-direction: row;
            gap: 5px;

            span {
                border: 1px $primary-color;
                padding: 3px;
                text-align: center;
                color: black;
                background-color: #a9a2a2a6;
                transition: 1s;
                cursor: pointer;

                &.active {
                    // border: 1px solid $primary-color;

                    padding: 3px;
                    text-align: center;
                    color: $text-color;
                    background-color: $primary-color;
                }

                &:hover {
                    padding: 3px;
                    text-align: center;
                    color: $text-color;
                    background-color: $primary-color;

                }

            }
        }


    }
}